/* #1A1A40 */
/* #270082 */
/* #7A0BC0 */
/* #FA58B6 */

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-flow: column;
  background: #1A1A40;
  flex: 1;
}